/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', 'Ubuntu', sans-serif;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1.5;
    
 }
 html{
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-behavior: smooth;
 }
 body{
     padding-left: 30rem;
     background: #fff;
 }
 /* header nih */
 header{
     position: fixed;
     left: 0;
     bottom: 0;
     top: 0;
     background: #111;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 10000;
     flex-flow: column;
     padding: 8rem 2rem;
     text-align: center;
     width: 30rem;
     
 }
 header .logo{
     font-size: 3rem;
     font-weight: bolder;
     color: #fff;
     text-decoration: uppercase;
 }
 header .logo span{
     font-size: 5rem;
     font-weight: bolder;
     color: crimson;
     text-decoration: uppercase;
     padding-right: 5px;
 }
 header .navbar a{
     display: block;
     color: #fff;
     font-size: 2rem;
     margin: 2rem 0;
 }
 header .navbar a:hover{
     letter-spacing: .2rem;
     padding: 2px 7px ;
     color: red;
     transition: .5s;
     font-size: 2.6rem;
 }
 header .follow{
     padding: 0 5px;
     padding: 5px 7px;
     font-size: 30px;
 }
 header .follow a{
     color: white;
 }
 #menu-bars{
     position: fixed;
     z-index: 10000;
     top: 1rem;
     right: 1rem;
     background: crimson;
     color: white;
     border-radius: 5px;
     padding: 1rem 1.5rem;
     font-size: 30px;
     display: none;
     
 }
 
 /* header kataposan */
 
 /* home section nih */
 
 section{
     padding: 1rem 5%;
     min-height: 100vh;
 }
 .home{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap:1.5rem;
     background: url('img/bg.jpg');
     background-size: cover;
 }
 .home .content .hi{
     font-size: 3rem;
     color: crimson;
 }
 .home .content h3 {
         font-size: 4rem;
         animation: color 2s linear infinite;
     }
 @keyframes color {
 0%,100%{
     color: darkred;
 }
  30%{
      color: red;
  }
  60%{
      color: crimson;
  }
 }
 .home .content h3 span{
     color: black;
     font-size: 4rem;
     
 }
 
 .home .content .info{
     color: #111;
     padding: .5rem 0;
     font-size: 2.5rem;
 }
 .home .content .text{
     color: #666;
     font-size: 1.7rem;
     padding-bottom: 3rem ;
 }
 .btn{
     
     padding: 5px 10px;
     background: crimson;
     color: white;
     font-size: 15px;
     border-radius: 5px;
     margin-right: 10px;
     
    
     
 }
 
 /* home section kataposan */
 
 
 
 
 
 
 
 /* Section sa About nih */
 .about .heading {
     font-size: 3.5rem;
     position: relative;
 }
 .about .heading strong{
     color: red;
     font-size: 5rem;
 }
 .about .row-1{
     display: flex;
     
    
 }

 .about .row-1 .img{
     width: 300px;
     height: 230px;
     border: 5px solid crimson;
     border-radius: 5px;    
     
 }
 .about .row-1 .img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .about .row-1 .content{
     margin-left:15px;
    
 }
 
 .about .row-1 .content h3{
     font-size: 25px;
     font-weight: bolder;
     
 }
 .about .row-1 .content p{
     font-size: 11px;
 }
 
 .about .row-1 .content .box-container {
     display: flex;
      margin-bottom: 10px;
 }
  .about .row-1 .content .box-container .box{
      margin-right: 30px;
  }
 .about .row-1 .content .box-container .box p{
     padding: 5px 0 0 0;
     color: #35424a;
 }
 .about .row-1 .content .box-container .box p span{
     color: crimson;
     font-size: 15;
     font-weight: bolder;
 }
 
 
 
 /* about kataposan */
 @media(max-width: 999px){
 
 #menu-bars{
     display: initial;
 }
 
 header{
     left: -100%;
     width: 30rem;
      
 }
 .active{
     left:0;
 }
   body{
       padding-left: 0;
      
   }
   .body-active{
       padding-left: 30rem;
   }
   .home .content h3 {
         font-size: 4rem;
     }
     
     
     .about .row-1{
         display: block;
     }
  
  .about .row-1 .img{
      width: 100%;
      
  }
  .about .row-1 content{
      flex-wrap: wrap;
      margin-top: 10px;
     
  }
   .about .row-1 content h3{
       font-size: 20px;
   }
   
   .about .row-1 content .box-container .box{
       display: block;
   }
   
 }
 
 
 
 
 
 
 
 
 
 
 
 

 @media(max-width: 450px){
 
 
     html{
         font-size: 65%;
     }
     header{
         width: 100%;
         padding-top: 4rem;
     }
     #menu-bars{
         z-index: 100000;
         font-size: 25px;
         padding: 7px 10px;
         
     }
     .body-active {
         padding: 0;
     }
     .home .content h3 {
         font-size: 3.5rem;
     }
     

 }
  
 
 
 
 
 
 
 /* media query */
 @media(min-width: 1024px){
     .home .content h3{
         font-size: 4rem;
     }
 }
